*{
    margin: 0;
    padding: 0;
    
}

div.header {
    border: 1px solid;
    background: url('../maket/img/background\ 1.png');
    background-image: url('../maket/img/img\ 1.png');
    
    background-repeat: no-repeat;
    background-position: top right;
}
    
div.conteiner {
    width: 1280px; margin: 0px auto;
    border: 1px solid red;
}
ul.hr{
    margin: 0 0 0 75px;
    
   
}
ul.hr li{
    font-size: 13px;
    display: inline-block;
    margin: 17px;
    
    
}
span
button.btn {
    color: white;
    padding: 5px 0px;
    height: 32px;
    width: 130px;
    border-radius: 95px;
    margin: 8px 8px;
    background-color: rgba(255, 255,255, 0,26);
    border: none;
    opacity: 0,3;
}
h1.h1{
    font-size: 70px;
}
p.p1{
    font-size: 20px;
}
button.btn1{
    border-radius: 105px;
    width: 123px;
    height: 37px;
    margin: 34px 0px;
    background-color: blue;
    color: rgba(255, 255, 255, 1);
    border: none;

}
p.p2{
    font-size: 16px;
    height: 16px;
    margin-top: 322px;
    text-align: center;
}
div.sound{
    width: 1280px;
    margin: 0px auto;
    border: 1px solid green;
    text-align: center;
}
p.sounds{
    margin-top: 127px;
    font-size: 20px;
}
h4.sounds{
    font-size: 52px;
    font-weight: bold;
}
p.sounds1{
    font-size: 18px;
}
button.sounds{
    margin-top: 34px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 105px;
    width: 150px;
    height: 35px;
    background-color: blue;
}
div.plaeyr{
    float:none;
}
img.player{
    margin-top: 50px;
}
div.plugins{
    width: 1280px;
    margin: 0px auto;
    margin-top: 238px;
    border: 1px solid chocolate;
    background: url('../maket/img/Rectangle\ 11.png');
    margin-top: -100px;
}
p.PLUGINS{
    font-size: 16px;
    margin-left: 880px;
    margin-top: 167px;
}
p.Build{
    font-weight: bold;
    font-size: 48px;
    margin-left: 880px;
}
p.digital{
    font-size: 48px;
    font-weight: bold;
    color: blue;
    margin-left: 880px;
}
p.Try{
    font-size: 18px;
    margin-left: 880px;
    margin-top: 18px;
}
p.pay{
    font-size: 18px;
    margin-left: 880px;
}
button.GEAR{
    font-size: 12px;
    border-radius: 105px;
    border: none;
    background-color: blue;
    color: white;
    width: 133px;
    height: 37px;
    margin-top: 34px;
    margin-left: 200px;
    margin-bottom: 165px;
}
div.tekst{
    vertical-align: middle;
    margin-top: 300px;
}
div.STUDIO{
    width: 1280px;
    margin: 0px auto;
    margin-top: 100px;
    border: 1px solid yellow;
}
p.STUDIO{
    font-size: 16px;
    margin-top: 105.5px;
}
p.stay{
    font-size: 48px;
    font-weight: bold;
    margin-top: 3px;
}
span.sync{
    font-size: 48px;
    color: blue;
    font-weight: bold;
}
p.industry{
    font-size: 18px;
    margin-top: 18px;
}
p.it{
    font-size: 18px;
    margin-right: 211px;
}
button.trysdutio{
    font-size: 12px;
    border: none;
    color: white;
    width: 146px;
    height: 37px;
    border-radius: 105px;
    background-color: blue;
    margin-top: 34px;
}
div.tekst1{
    display: block;
    position: absolute;
}
img.img4{
    float:right;
    display: block;
    

}